<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_slogan" style="color:#875A7B;">Asterisk PBX Manager</h2>
            <h3 class="oe_slogan">Manage your Asterisk servers from Odoo!</h3>
            <div class="oe_centeralign oe_websiteonly">
                <a href="https://youtu.be/yaxNe0JgwMQ" class="oe_button oe_big oe_tacky">Watch the video</a>
            </div>
          </div>
        <div class="oe_span6">
          <div class="oe_row_img oe_centered">
              <img class="oe_picture" src="icon.png"/>
          </div>
        </div>
    </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
      <div class="alert alert-warning oe_centered">
        <strong>This app is under active development! Only invited beta testers for now!</strong>
      </div>
    </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
    <h4 class="oe_slogan"><b>Features:</b></h4>
    <div class="alert alert-info oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
      <ul class="list-unstyled">

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          Works with any Asterisk installation (FreePBX, etc) without its changes!
        </li>

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          <b>Basic PBX features:</b> SIP peers, users, dialplans, incoming and outgoing routing,
          queues, call stats and call recordings, dashboards and more...
        </li>

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          Advanced WEB based asterisk <b>.conf editor</b> with asterisk syntax highlight.
        </li>

        <i class="fa fa-check-square-o text-primary"></i>
          <b>Full Asterisk WEB console</b> inside Odoo!
        </li>

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          <b>Multi server support</b> - manager all your Asterisk servers from one Odoo instance!
        </li>

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          <b>Loosely coupled</b> architecture - your asterisk server (bare metal or virtual) become
            like stateless docker containers. <b>Automatic new server</b> registration and recovery.
        </li>

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          Status monitoring and alarming.
        </li>

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          More features to come!!!
        </li>

      </ul>
    </div>

    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Support</h2>
        <div class="oe_span12">            
            <h4 class="oe_slogan">Bugs, feature requests</h4 class="oe_slogan">
            <p> For bugs and feature requests please visit 
                <strong><a href="https://gitlab.com/odooist/amanita_base/issues">Gitlab issues</a></strong>
                 or send email to
                <strong><a href="mailto:odooist@gmail.com">odooist@gmail.com</a></strong>.
            </p>
            <h4 class="oe_slogan">Tips &amp; tricks</h4 class="oe_slogan">
            <p> To talk about Asterisk & Odoo integration join our
                <a class="btn btn-info btn-small" target="new"
                    href="https://t.me/joinchat/FsCgbhJflWdOvqoLljrqSA">Telegram chat</a>
            </p>
        </div>
        <div class="oe_span12">            
            <h4 class="oe_slogan">Developers</h4 class="oe_slogan">
            <p>If you are an Odoo and Asterisk developer and think about your contribution
              please visit <strong><a href="https://gitlab.com/odooist/amanita_base">Gitlab project</a></strong>
              and request a developer access.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
      <div class="oe_span10">
        <h2 class="oe_slogan">Asterisk! Enjoy with Odoo!</h2>        
      </div>
      <div class="oe_span2">
            <img src="odoo_asterisk.png" width="50px"/>            
      </div>      
    </div>
</section>

